@media screen and (min-width: 1440px) {

}

@media screen and (max-width: 1440px) {
    #lineHeightHeader{
        font-size: 14px;
    }
    .productDivTitle{
        font-size: 18px;
        text-align: center;
    }

    .productsList{
        font-size: 14px;
    }
    .productsImages{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .logotfooter{
        width: 150px;
        padding-top: 3px;
    }
    #footerLogo p{
        font-size: 14px;
    }
    #footerLogo a i{
        font-size: 24px;
    }
    .footerSubjects{
        font-size: 20px;
    }
    #footerContact ul{
        font-size: 14px;
    }
    #footerNav ul{
        font-size: 14px;
    }
    .imgFooter{
        width: 50px;
    }
    #underNavigation{
        font-size: 22px;
    }
    .marginBottom{
        font-size: 13px;
    }
    #rightBlockText p{
        font-size: 16px;
    }
    .aboutImagesRightBlock{
        width: 60px;
        height: 60px;
        border: 5px solid #fff;
    }
    th{
        font-size: 12px;
    }
    td{
        font-size: 14px;
    }

    #sendEmailContact{
        width: 150px;
        height: 100px;
        font-size: 18px;
    }

    #buttonSend{
        width: 150px;
        height: 50px;
        font-size: 12px;
    }
    .notice{
        margin-right: 10px;
    }

    .gallery-item{
        width: 90px;
    }
    .overlay-text{
        font-size: 12px !important;
    }

    .LeftBlockinfo{
        height: auto;
    } 

   

  }

@media screen and (max-width: 1280px) {
    #lineHeightHeader{
        font-size: 12px;
    }
    #underNavigation{
        font-size: 19px;
    }
    .logotfooter{
        width: 140px;
        padding-top: 3px;
    }
    #footerLogo p{
        font-size: 13px;
    }
    #footerLogo a i{
        font-size: 22px;
    }
    .footerSubjects{
        font-size: 18px;
    }
    #footerContact ul{
        font-size: 13px;
    }
    #footerNav ul{
        font-size: 14px;
    }
    .imgFooter{
        width: 45px;
    }
    #underNavigation{
        font-size: 20px;
    }
    .nav-link{
        font-size: 14px;
    }
    .logo{
        width: 150px;
    }
    
    #aboutContentWrapper {
        display: flex;
        flex-direction: column !important;
    }

    #middleBlockAbout {
        order: 0;
        width: 100%;
    }

    #leftBlockAbout {
        order: 2;
        width: 100%;
    }

    #rightBlockAbout {
        order: 1;
        width: 100%;
    }

    #middleBlockAbout,
    #leftBlockAbout,
    #rightBlockAbout {
        margin-bottom: 20px;
    } 

    #rightBlockText{
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .aboutImagesRightBlock{
        width: 150px;
        height: 100px;
    }
    .aboutImages{
        margin-left: 5px;
    }
    th{
        font-size: 11px;
    }

    #sendEmailContact{
        width: 140px;
        height: 100px;
        font-size: 18px;
    }

    .underContactLeftColMain{
        font-size: 13px;
    }

    .gallery-item{
        width: 80px;
    }
    .overlay-text{
        font-size: 10px !important;
    }
    

}


@media screen and (max-width: 1080px) {
    #lineHeightHeader{
        flex-direction: column;
        text-align: center;
    }
    p{
        margin: 0px !important;
    }
  }

@media screen and (max-width: 810px) {
    #lineHeightHeader{
        height: 20px;
    }
    #headerNav{
        display: none !important;
    }
    .wrapper{
        width: 70%;
    }
    .productDivTitle{
        font-size: 22px;
    }
    .productsImages{
        width: 30%;
    }
    .productsList{
        font-size: 14px;
    }
    .order-image{
        width: 70%;
        display: block;
        margin: 0px auto;
    }
    .nav-link{
        font-size: 16px;
    }
    #footerLogo{
        text-align: center;
    }
    .colorText{
        text-align: center;
    }
    .phoneIcon{
        padding-left: 25%;
    }
    .footerSubjects{
        text-align: center;
        font-size: 20px;
    }
    .imgFooter{
        width: 60px;
    }
    #top-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1030; 
    }

    header{
        margin-top: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
    }
    main{
        padding-top: 100px;
    }

    #aboutContentWrapper {
        display: flex;
        flex-direction: column !important;
    }

    #middleBlockAbout {
        order: 0;
        width: 100%;
    }

    #leftBlockAbout {
        order: 2;
        width: 100%;
    }

    #rightBlockAbout {
        order: 1;
        width: 100%;
    }

    #middleBlockAbout,
    #leftBlockAbout,
    #rightBlockAbout {
        margin-bottom: 20px;
    } 

    #rightBlockText{
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .aboutImagesRightBlock{
        width: 150px;
        height: 100px;
    }
    .productsImages{
        width: 50% !important;
        margin-bottom: 25px;
    }
    th{
        font-size: 13px;
    }
    td{
        font-size: 15px;
    }
    .buttonPrices{
        margin-top: 15px;
    }
    .scroll-down-btn {
      display: block;
    }
    #tabeleCene {
    order: 1 !important; 
    }
    #rightBlockPrices {
    order: 0 !important;
    }
    footer{
        margin-top: 15px;
    }
    .kontakt-forma{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .desnoBudi{
        position: absolute;
        right: 150px;
    }
    #ChooseMat{
        margin-top: 20px;
    }
    .LeftBlockinfo{
        font-size: 15px;
    }
}

@media screen and (max-width: 412px) {
    .wrapper{
        width: 80%;
    }
    .logo{
        width: 160px;
    }

    #underNavigation{
        font-size: 18px;
    }

    .navbar-toggler-icon{
        width: 20px;
    }
        .nav-link{
        font-size: 14px;
    }
    .order-image{
        width: 100%;
        display: block;
        margin: 0px auto;
    }
    #rightBlockImages{
        flex-direction: column;
        align-items: center;
    }
    .productsImages{
        width: 100% !important;
        margin-bottom: 25px;
    }
    .table-scroll-412 {
        overflow-x: auto; 
        scrollbar-color: #999 transparent; 
        scrollbar-width: thin; 
    }

    .table-scroll-412 {
        overflow-x: auto;
        scrollbar-color: #444 #ccc; 
        scrollbar-width: auto; 
        position: relative;
    }

    .table-scroll-412::-webkit-scrollbar {
        height: 14px; 
    }

    .table-scroll-412::-webkit-scrollbar-thumb {
        background-color: #444; 
        border-radius: 8px;
        border: 3px solid #ccc; 
    }

    .table-scroll-412::-webkit-scrollbar-track {
        background-color: #ccc; 
        border-radius: 8px;
    }

    .table-scroll-412 table {
        min-width: 500px; 
    }

    .desnoBudi{
        position: inherit;
    }
    #sendEmailContact{
        width: 100%;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .scroll-down-btn{
        right: 5px;
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    #secondDiv{
        margin-top: 10px;
    }

    .textSmall{
        font-size: 12px;
        margin-left: 30px;
    }

    .pag{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 384px) {

    #underNavigation{
        font-size: 16px;
    }

}

