body{
    background-image: url("../img/images/bcg2.jpg");
    background-repeat: repeat;
}
* {
    margin: 0px;
    padding: 0px;
}

#top-header{
    background-color: #a4a5a4;
    color: #ffffff;
}

.wrapper{
    margin: 0px auto;
    width: 50%;
}

#lineHeightHeader{
    line-height: 60px;
}

.noDecA {
    text-decoration: none;
    color: #ffffff;
}

.marginRight {
    margin-right: 5px;
}

.mp0{
    margin: 0px !important;
    padding: 0px !important;
}

p{
    margin: 0px !important;
}

#navbarNav{
    justify-content:end;
}

.wrapper navbar container-fluid{
    padding: 0px !important;
}

.textOrange{
    color: #d8b28c;
}

.hoverTextOrange:hover{
    color: #e09446;
}

.nav-link.active {
    color: #e09446 !important;
  }

/*TO DO: Finish up*/

#logo {
    width: 150px;
}

hr{
    border-top: 4px dotted #343a40;
}

#underNavigation{
    color: #e09446;
    text-align: center;
    font-weight: 600;
}

.slider{
    background-image: url("../img/images/bcg3NEW.jpg");
    background-repeat: repeat;
}