body{
    background-image: url("../img/images/bcg2.jpg");
    background-repeat: repeat;
}
* {
    margin: 0px;
    padding: 0px;
}

#top-header{
    background-color: #464647;
    color: #ffffff;
}

.wrapper{
    margin: 0px auto;
    width: 50%;
}

#lineHeightHeader{
    line-height: 60px;
}

.noDecA {
    text-decoration: none;
    color: #ffffff;
}

.marginRight {
    margin-right: 5px;
}

.mp0{
    margin: 0px !important;
    padding: 0px !important;
}

.pr0{
    padding-right: 0px !important;
}

#navbarNav{
    justify-content:end;
}

.wrapper navbar container-fluid{
    padding: 0px !important;
}

.textOrange{
    color: #e09446;
}

.hoverTextOrange:hover{
    color: #e09446 !important;
}

.nav-link.active {
    color: #e09446 !important;
    font-weight: 600;
  }

.logo {
    width: 170px;
}

hr{
    border-top: 4px dotted #343a40;
}

#underNavigation{
    color: #003173;
    text-align: center;
    font-weight: 600;
}

.underImageBackGround{
    background-image: url("../img/images/bcg3NEW.jpg");
    background-repeat: repeat;
}

header{
    background-color: #fefefe;
}

#products{
    margin-top: 30px;
    margin-bottom: 30px;
}

.block{
    background-color: #efefee;
    box-shadow: 2px 2px 5px #808080;
}

#underfooter{
    background-color: #464647;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
}

#footerFluid{
    background-color: #fefefe;
}

#footerFluid .wrapper .row{
    padding-top: 20px;
    padding-bottom: 20px;
}

.iconFooter{
    font-size: 25px;
    text-decoration: none;
    color: #0060af;
}

.iconFooterContact{
    color: #0060af;
}

.iconFooterContact:hover{
    color: #0060af;
}

.iconFooter:hover{
    color: #e09446;
}

.footerSubjects {
    color: #0060af;
    line-height: 60px;
    font-weight: 600;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

h4{
    margin: 0px;
}

#navFooterList{
    list-style-type: square;   
    padding-left: 20px;
}

#navFooterList a{
    text-decoration: none;
    color: #0060af;
}

#navFooterList a li::marker{
    color: #0060af;
}

.spacing{
    margin-top: 5px;
    margin-bottom: 5px;
}

.border{
    border-radius: 10%;
}

.borderProducts{
    border-radius: 3%;
}

.imgFooter{
    width: 65px;
}

.productDivTitle{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: #003173;

}

.productsImages{
    width: 125px;
    border-radius: 5%;
    display: block;
    margin: 0px auto;
}

.contextProducts{
    padding-top: 10px;
    font-size: 12.5px;
    color: #464647;
}

.bold{
    font-weight: 600;
}

.circleProducts{
    font-size: 10px;
    color: #e09446;
}

.productsList{
    font-size: 14px;
    list-style-type: square;
    padding-left: 15px;   
}

ul li::marker {
  color: #e09446;
}

.order-image{
    width: 100%;
}

.aboutImages {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 10px solid #fff;        
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    width: 130px;
    /* outline: 1px solid #000;         
    outline-offset: -10px;             */
}

.blockPolygon {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  overflow: hidden; 
}

.blockPolygon::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background: orange;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#aboutText{
    font-size: 13px;
    padding: 20px;
    line-height: 22px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}

#middleBlockAbout{
    margin-top: 10px;
}

.marginBottom{
    margin-bottom: 10px !important;
}

#aboutMainImage{
    margin-bottom: 20px;
}

#rightBlockText p{
    font-size: 18px;
    font-style: italic;
    color: #343a40;
    line-height: 30px;
    text-align: center;
}

#rightBlockText{
    margin-top: 40px;
    border-top: 10px solid #b6b9c0;
    border-bottom: 10px solid #b6b9c0;
    padding: 15px 0px;    
}

#leftBlockAbout{
    padding-left: 0px;
}

.aboutImagesRightBlock{
    margin-top: 10px;
    border: 7px solid #fff;        
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    width: 90px;
    height: 90px;
}

.marginZero{
    margin: 0px;
}

.paddingZero{
    padding: 0px !important;
}

#showMore{
    color: #e09446;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}

#rightBlockBigImage{
    margin-bottom: 10px;
}


.aboutImages {
    border: 5px solid #fff;        
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
}

.borderBottomProducts{
    border-bottom: 1px solid #b6b9c0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.products-product h5{
    font-weight: 600;
}

.products-product p{
    font-size: 12px;
}

.moreGallery{
    font-size: 14px;
    font-style: italic;
    color: #464647;
}

.marginTop{
    margin-top: 15px;
}

.productsLi{
    margin-top: 10px;
    font-size: 12px;
}

.textColorProducts{
    color: #5b626c;
}

.colorGalleryMoreProducts{
    color: #456515;
}

.pricesTopImgText{
    color: #003173;
    font-weight: 600;
}

p{
    margin-bottom: 0px !important;
}

table{
    margin-top: 10px;
    border: 1px solid black;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0
}


th{
    font-size: 13px;
    background-color: #e48527;
    color: #ffffff;
    width: auto;
    height: 56px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #0060af;
}

td{
    width: auto;
    font-size: 15px;
    height: 27px;
    font-weight: bold;
    color: #323b49;
    border-bottom: 1px solid #bcbcbc;
}

.bg1 { background-color: #f1f1f1; }
.bg2 { background-color: #e3e3e3; }
.bg3 { background-color: #d5d5d5; }
.bg4 { background-color: #c7c7c7; }

.border-group-1 td { border-bottom: 1px solid #dedede; }
.border-group-2 td { border-bottom: 1px solid #d3d3d3; }
.border-group-3 td { border-bottom: 1px solid #c7c7c7; }
.border-group-4 td { border-bottom: 1px solid #bcbcbc; }

table tr:last-child td {
  border-bottom: none;
}

table tr:last-child td {
  border-bottom: none;
}

thead th:last-child {
  width: 76px !important;
}


.firstCol{
    color: #003173;
}

.firstRow{
    width: 22px !important;
}

.pricesSpanGray{
    font-size: 16px;
    font-weight: bold;
    color: #666;
}
